Source: bash-gettext
Section: devel
Priority: optional
Maintainer: Felix Jacobi <felix.jacobi@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.1.3
Homepage: https://github.com/FelixJacobi/bash-gettext

Package: bash-gettext
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  bash,
  gettext,
  perl-base,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Bash gettext support
 This package provides support for the typically gettext shortcuts like:
 .
 - _()
 .
 - __()
 .
 - _p()
 .
 in Bash (and other compatible shells) scripts.
