Source: bash-gettext
Section: devel
Priority: optional
Maintainer: Felix Jacobi <felix.jacobi@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv
Standards-Version: 4.5.0
Homepage: https://github.com/FelixJacobi/bash-gettext

Package: bash-gettext
Architecture: all
Depends: bash, gettext, perl-base, ${misc:Depends}, ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Bash gettext support
 This package provides support for the typically gettext shortcuts like:
 .
 - _()
 .
 - __()
 .
 - _p()
 .
 in Bash (and other compatible shells) scripts.
